/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* primary color */
  --clr-primary-cyan: hsl(176, 50%, 47%);
  --clr-primary-darkcyan: hsl(176, 72%, 28%);
  /* neutral */
  --clr-black: hsl(0, 0%, 0%);
  --clr-darkgrey: hsl(0, 0%, 48%);
  /* font */
  --ff-primary: 'sans-serif';
  --ff-secondary: 'Commissioner';
}

/*
=============== 
Global Styles
===============
*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

